@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
      display: flex;
      margin: 0 auto;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      height: 100vh;
      align-content: center;
      background: linear-gradient(to left, #4c7286 50%, rgb(3, 200, 200) 50%);
}

#seeker-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#poster-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: ivory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

