/* :root {
    background-color: #eeeeee;
} */

#dashboard-nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
}

#jobs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.job-heading {
    text-align: center;
}