.App {
    background-color: #d4edf4;
    height: 100vh;
    background-size : cover;
}

#dashboard-nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
}

#logo {
    display: flex;
    justify-content: center;
}

#jobs {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.job-heading {
    text-align: center;
}

#job-post-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#main-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    align-content: center;
    background-color: #d4edf4;
    /* background: linear-gradient(to left, #345c72 50%, #d4edf4 50%); */
}

#index {
        background-color: #d4edf4;
}

#login-container {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 100px;
        background-color: #345c72;  
        height: 100vh;
        align-items: center;
}

#candidate-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    border: 2px solid rgb(183, 183, 183);
    height: 100;
    padding: 20px;
    width: 30%;
}

#client-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#signIn-container {
    background-color: #d4edf4;
    height: 100vh;
    width: 100vw;
}

#signUp-container {
    display: flex;
    align-items: center;
    background-color: #345c72;
    height: 100vh;
    width: 100vw;
}

#dashboard {
    background-color: #d4edf4;
    height: 100vh;
}   

#sign-up-client {
    display: flex;
    align-items: center;
    background-color: #345c72;
    width: 100vw;
    height: 100vh;
}

#job-details {
    display: flex;
    width: 50vw;
    margin: 0 auto;
    margin-top: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: white;
    padding: 20px;
    border: 1px solid #e3e3e3e3;
    border-radius: 20px;
}

#shortlist-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;   
}

h1 {
    font-family: 'Bebas Neue',
    cursive;
    text-align: center;
}