/* :root {
    background-color: #eeeeee;
} */

#dashboard-nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
}

#jobs {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

.job-heading {
    text-align: center;
}

#job-post-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}